.grid-body {
    grid-column: 1 / span 8;
}


#card_liste article {
    max-width: 400px;
}


.card_text--groesse {
    display: none;
}

.card_text--groesse {
    display: none;
}

.cards_inhalt {
    display: flex;
}

#card_liste article img {
    background-image: radial-gradient(  circle at top left, rgb(110, 212, 26) 5%,  rgb(33, 189, 12) 55%, rgb(25, 139, 25) 90%);
    padding: 2%;
    width: 96%;
}

small {
    display: none;
}
    
#card_liste article p:nth-child(2) {
   width: 100%;
}

@media screen and (max-width: 550px) {

    .grid-body {
        grid-column: 1 / span 12;
    }

}