#basic-page-main {
    margin-top: 30%;
    margin-bottom: 5%;
}
  
/* BEREICH CARDS ___________________________________________*/

.nav_filter {
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  margin-bottom: 1rem;
  
}
.nav_filter a {
  background-color: black;
  color: white;
  font-size: var(--paragraph);
  line-height: var(--paragraph_zeile_filter);
  padding: 0 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

#card_liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 3%;
    column-gap: 3%;
    row-gap: 5%;
    margin-bottom: 30%
}

#card_liste article {
    display: flex;
    flex-flow: wrap;
    max-width: 600px;
    padding-bottom: 3%;
   /* padding-top: 3%;
    border-top: 0.2rem solid var(--corporate_color);*/
    border-bottom: 0.2rem solid var(--corporate_color);
    transition: transform 0.5s ease-in-out;
}

#card_liste article:hover {
transform: scale(1.02);
}

#card_liste article img {
  width: 100%;
  height: 25rem;
}

#card_liste article p:nth-child(2) {
    align-self: flex-start; 
    margin: 1.5rem 0 0 0;
    font-weight: 800;
}

#card_liste article p:nth-child(3) {
    align-self: flex-start;
    margin: 1.5rem 0 0 0;
}

#card_liste article small:nth-child(4) {
  align-self: flex-start;
  font-size: 1rem;
  color: var(--corporate_color);
  margin: 1.5rem 0 0 0;
  width: 100%;
}

#card_liste article time:nth-child(5) {
  align-self: flex-start;
  font-size: 0.9rem;
  margin: 0.3rem 0 0 0;
  width: 100%;
}

#card_liste article .button_standard:last-child  {
  margin: 1.5rem 0 0 0;
}

/* Media Screens ___________________________________________*/



@media screen and (max-width: 900px) {

  /* Zusätzliche Regeln für kleinere Monitore  */

  #card_liste {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 2%;
    row-gap: 2%;
}
}

@media screen and (max-width: 768px) {

  #basic-page-main {
    margin-top: 50%;
   }
}

@media screen and (max-width: 500px) {

  #basic-page-main {
    margin-top: 75vh;
   }
}