#basic-page-main {
    margin-top: 30%;
    margin-bottom: 10%;
}
  
.grid-blog-main>h3 {
  text-decoration: underline var(--corporate_color);
  -webkit-text-decoration: underline var(--corporate_color);
  grid-column: 1 / span 6;
}

.basic-page-main_head {
  margin-top: 2rem;
}

#basic-page-main_head h2::after {
    margin: 1.5em 0 0 -6.65em;
}

.grid-blog h3 {
    text-decoration: underline var(--corporate_color);
    -webkit-text-decoration: underline var(--corporate_color);
    grid-row: 3;
    grid-column: 1 / span 5; 
}

.grid-blog-main {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
  grid-gap: 2%;
}

#card_liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2%;
}
#card_liste article {
    display: flex;
    flex-flow: wrap;
}

#card_liste article img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

#card_liste article p:nth-child(2) {
    margin-top: 1.5rem;
    font-weight: 800;
}

#card_liste article p:nth-child(3) {
    margin-top: -1.5rem;
}


#card_liste article .button_standard:nth-child(4) {
    margin-bottom: 1rem;
}


