.datum {
  font-size: var(--paragraph_zwei);
  letter-spacing: 0.2blogem;
  margin-top: 20%;
}

.grid_blogbeitrag {
  margin-bottom: 30%;
  display: grid;
  --columns: 12;
  --gutter: 3rem;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.column {
  grid-column: span var(--span);
  grid-row: 1;
  padding: 0 1rem;
}

div.column.column_spalte h2 {
  margin-top: 0;
}

/*div.column.column_spalte:nth-child(1){
  grid-column: 1 / var(--span);
}*/

figure {
  margin: 0;
  padding: 0;
}

div.blocks figure img {
  height: unset;
}

@media screen and (max-width: 840px) {

  /* Zusätzliche Regeln für kleinere Monitore  */

.grid_blogbeitrag {
    --columns: 1;
  }

.column {
    grid-column: 1;
  }

.column:nth-child(2) {
  grid-row: 2;
  margin-top: 2rem;
}

.column:nth-child(3) {
  grid-row: 3;
  margin-top: 2rem;
}

}