
.grid-0 {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
  }
  #inhalt {
    margin-top: 62%;
    margin-bottom: 15%;
    background-color: white;
    z-index: 5;
  }
  .grid-inhalt {
    grid-column: 1 / span 7;
  }
  
  .zierbalken-gruen {
    display: inline-block;
    background-color: var( --corporate_color);
    height: calc(5px + (100vw - 99.6vw));
    width: calc(80px + (100vw - 95vw));
  }
  
  .hero_head {
    margin-top: 4%;
    margin-bottom: 5%;
  }

  h3.grid-inhalt {
    grid-column: 1 / span 8;
    margin-bottom: 4rem;
  }
  
  /* Home CARDS ___________________________________________*/
  
  #grid1 {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-flow: row;
    align-items: start;
    background-image: linear-gradient(135deg, rgb(98, 203, 98) 10%, var(--corporate_color) 70%);
    z-index: 1;
    margin-bottom: 5rem;
  }

  .card:nth-child(even) {
   flex-flow: row-reverse;
  }

  .cards_inhalt {
      display: flex;
  }
  
  .card>figure {
    margin: 2rem;
    width: 30%;
    height: auto;
    overflow: hidden;
  }
  .card>figure img {
    object-fit: cover;
    height: auto;
  }
  .button-standard--abstand {
    width: 100%;
    overflow: hidden;
  }
  .card_text {
    margin: 0;
    padding: 3% 3% 3% 3%;
    flex-flow: column;
    width:70%;
    color: white;
    text-shadow: 1px 1px 3px rgb(62, 106, 44);
  }
  .button-standard--abstand {
    margin-bottom: 0;
}
.button_standard{
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.card_text--groesse{
    margin: 0 0 0.5em 0;
}
p.card_text--groesse{
    font-size: var( --paragraph_zwei);
}