:root {
  --head_zwei: calc(1.8rem + (45 - 22) * (100vw - 400px) / (800 - 400));
  --head_zwei_zeile: calc(2.2rem + (55 - 30) * (100vw - 400px) / (800 - 400));
  --head_drei: calc(1.5rem + (25 - 18) * (100vw - 400px) / (800 - 400));
  --head_drei_zeile: calc(1.8rem + (28 - 20) * (100vw - 400px) / (800 - 400));
  --paragraph_zwei: calc(1rem + (17 - 15) * (100vw - 400px) / (800 - 400));
  --paragraph_zwei_zeile: calc(1.2rem + (20 - 17) * (100vw - 400px) / (800 - 400));
  --paragraph: calc(0.8rem + (16 - 14) * (100vw - 400px) / (800 - 400));
  --paragraph_zeile: calc(1rem + (19 - 16) * (100vw - 400px) / (800 - 400));
  --paragraph_zeile_filter: calc(1.5rem + (28 - 24) * (100vw - 400px) / (800 - 400));
  --corporate_color: rgba(80, 155, 80, 1);
}
body {
  display: grid;
  grid-template-rows: minmax(4rem, min-content) minmax(calc(100vh - 12rem), min-content) minmax(8rem, min-content);
  grid-template-columns: minmax(2rem, min-content) minmax(calc(100vw - 4rem), min-content) minmax(2rem, min-content);
  margin: 0;
  align-content: center;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65.5%;
  box-sizing: border-box;
}
.main {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 8rem;
}

h2 {
  position: relative;
  font-size: var(--head_zwei);
  line-height: var(--head_zwei_zeile);
}
h3 {
  font-size: var(--head_drei);
  line-height: var(--head_drei_zeile);
  text-decoration: underline var( --corporate_color);
  -webkit-text-decoration: underline var( --corporate_color);
}
p {
  font-size: var(--paragraph_zwei);
  line-height: var(--paragraph_zwei_zeile);
}
.p_fett {
  font-size: var(--paragraph);
  font-weight: 600;
}
p.card_text--groesse {
  font-size: var(--paragraph);
  line-height: var(--paragraph_zeile);
}
.button_standard {
  align-self: flex-end;
  /*margin-top: auto;
   margin-bottom: 1em;*/
  padding: 0 1.5em;
  line-height: 2em;
  font-size: 1rem;
  background-color: var(--corporate_color);
  border: solid 1px var(--corporate_color);
  border-radius: 0.2em;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.644);
  transform: scale(1, 1) translate(0px, 0px);
  transition: transform 0.5s ease-in-out;
}
.button_standard:hover {
  transform: scale(1.05, 1.05) translate(8px, 0px)
}
.button-standard--abstand {
  margin-bottom: 2em;
}
.button_standard--link {
  text-decoration: none;
  color: white;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* MENUE___________________________________________*/

 .menu {
     grid-row: 1;
     grid-column: 2;
     background-color: white;
     height: 80px;
     position: sticky;
     top: 0;
     z-index: 50;
     box-shadow: 0 1px 0 gray;
 }
 .logo_image {
     overflow: hidden;
     float: left;
     margin: 20px 0;
     color: green;
     height: 55px;
     width: auto;
 }
 input#hamburger-menu {
  display: none;
  }

 nav ul {
     float: right;
     list-style: none;
     margin: 10px -20px;
     text-align: center;
 }
 nav li {
     display: inline-block;
     margin: 20px 20px;
     list-style: none;
 }
 li a {
     font-size: 1.5rem;
     text-decoration: none;
     color:  var(--corporate_color);
     font-weight: 700; 
 }
nav li:last-child a {
  padding: 0.3rem;
  color: white;
  background-color: var(--corporate_color);
  border-radius: 3px;
}
 
 /* HEADERBEREICH HOME___________________________________________*/
 
 #header_bereich {
     height:  calc(100vh - 8rem);
     position: relative;
     grid-row: 2 / span 1;
     grid-column: 2 /span 1;
     overflow: hidden;
 }

#header_bereich img {
   object-position: bottom;
   height: auto;
 }

 @keyframes header-animation {
  0% {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
  }
  100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
  }
}

#header_bereich img {
  animation: header-animation 5s ease-in-out;
  -webkit-animation: header-animation 5s ease-in-out;
  animation-fill-mode: forwards;
}

 #head_line {
     width: calc(50vw - 4rem);
     height: auto;
     position: absolute;
     background-color: rgba(255, 255, 255, 0.9);
     /*  background-image: linear-gradient(90deg, white 80%, transparent 0%),
                         linear-gradient(white 0%, transparent 0%);
     background-size: 0.5vw 1vw;
     */
     color: black;
     mix-blend-mode: screen;
     top: 2rem;
     left: 2rem;
     padding: 2%;
     box-shadow: 4px 4px 15px rgba(99, 158, 5, 0.8);
 }

 #head_header {
     color: black;
     font-size: 7vw;
     text-align: left;
     font-weight: 600;
     line-height: 3vh;
     text-shadow: 2px 2px 3px rgba(99, 158, 5, 0.911);
 }

/* Home INHALT ___________________________________________*/


/*.grid-0 {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
}
#inhalt {
  margin-top: 62%;
  margin-bottom: 15%;
  background-color: white;
  z-index: 5;
}
.grid-inhalt {
  grid-column: 1 / span 7;
}

.zierbalken-gruen {
  display: inline-block;
  background-color: var( --corporate_color);
  height: calc(5px + (100vw - 99.6vw));
  width: calc(80px + (100vw - 95vw));
}

.hero_head {
  margin-top: 4%;
  margin-bottom: 5%;
}

/*h2::before {
  margin: -0.3em 0 0 0;
  content: '';
  position: absolute;
  background-color: var( --corporate_color);
  height: calc(3px + (100vh - 99.2vh));
  width: calc(80px + (100vw - 95vw));
}
h2::after {
  content: '';
  margin: 1.5em 0 0 -5.85em;
  position: absolute;
  background-color: var( --corporate_color);
  height: calc(3px + (100vh - 99.2vh));
  width: calc(80px + (100vw - 95vw));
}
h3.grid-inhalt {
  grid-column: 1 / span 8;
  margin-bottom: 4rem;
}*/

/* Home CARDS ___________________________________________*/

/*#grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5%;
}
.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 1;
  margin-bottom: 15rem;
}

.card>figure {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.card>figure img {
  object-fit: cover;
  height: auto;
}

.p_fett--abstand {
  margin: -0.1rem;
}
.button-standard--abstand {
  width: 100%;
  overflow: hidden;
  margin-top: -1.5rem;
}
.card_text {
  display: flex;
  flex-flow: wrap;
  position: absolute;
  padding: 3%;
  transform: translateY(12.5rem);
  border-radius: 1%;
  width: 85%;
  color: white;
  text-shadow: 1px 1px 3px rgb(62, 106, 44);
  transition: transform 0.8s ease-in-out;
  background-image: linear-gradient(135deg, rgb(98, 203, 98) 10%, var(--corporate_color) 70%);
  box-shadow: 3px 4px 6px rgba(46, 85, 46, 0.6);
}

.card_text:hover {
  transform: translateY(13.5rem);
  padding: 3%;
  opacity: 0.95;
}*/


/* Home Selbstdarstellung ___________________________________________*/

#section_home_selbstdarstellung {
  margin-bottom: 18%;
}

.section_container--home {
  grid-column: 1 / span 8;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.selbstdarstellung_bild {
  width: 200%;
  height: auto;
  transform: translateX(8%);
}

/* HOME Team ___________________________________________*/

#section_team {
  margin-bottom: 15%;
  background-color: white;
  ;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
}
.team_bild {
  grid-column: 3 / span 8;
  width: 100%;
  height: auto;
}
.team_headline {
  grid-column: 3 / span 8;
}
.spalte {
  grid-column: 3 / span 8;
  column-count: 2;
  column-gap: 3%;
}

/* Inhalt Referenzen ___________________________________________*/
#section_referenzen {
  margin-bottom: 15%;
  background-color: white;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
  grid-template-rows: repeat(3, 30vh);
  grid-gap: 1.5%;
  grid-auto-flow: dense;
}
.grid-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
  margin: 0rem;
}
.grid-3 .referenzen-card--figure {
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
  overflow: hidden;
  background-color: darkolivegreen;
  line-height: 0%;
}
.grid-3 .referenzen_titel {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateX(-100%);
  height: 100%;
  width: 100%;
  color: white;
}
.grid-3 .referenzen-card--figure:hover .referenzen_titel {
  position: absolute;
  background-color: var(--corporate_color);
  opacity: 0.7;
  transform: translateX(0%);
  transition: all 1s ease;
}
#referenzen_card--link a:link {
  text-decoration: none;
  color: white;
}
#referenzen_card--link h3 {
  font-size: 1.8rem;
  text-align: center;
}

.grid-3 .referenzen-card--figure {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.grid-3 .referenzen-card--figure:first-child {
  grid-column: span 4;
  grid-row: span 2;
}
.grid-3 .referenzen-card--figure:nth-child(2) {
  grid-column: span 3;
  grid-row: span 2;
}

.grid-3 .referenzen-card--figure:nth-child(3) {
  grid-column: span 3;
  grid-row: span 1;
}
.grid-3 .referenzen-card--figure:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}
.grid-3 .referenzen-card--figure:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}
.grid-3 .referenzen-card--figure:nth-child(6) {
  grid-column: span 2;
  grid-row: span 1;
}
.grid-3 .referenzen-card--figure:nth-child(7) {
  grid-column: span 4;
  grid-row: span 1;
}

.grid-3 .referenzen-card--figure:nth-child(8) {
  grid-column: span 4;
  grid-row: span 1;
}

.grid-3 .referenzen-card--figure:last-child {
  grid-column: span 4;
  grid-row: span 1;
}

/* Inhalt Portfolio ___________________________________________*/



#inhalt_portfolio {
  position: relative;
  margin-top: 60%;
  margin-bottom: 10%;
  background-color: white;
  z-index: 5;
}
.portfolio_grid-0 {
  display: grid;
  grid-template-columns: 5% repeat(8, 1fr) 5%;

  column-gap: 15px;
  row-gap: 15px;
}
.portfolio_head {
  grid-column: 2 / span 5;
}
#portfolio_bild {
  grid-column: 7 / span 3;
}
#portfolio_bild img {
  width: 100%;
  height: auto;
}
#portfolio_textarea {
  grid-column: 2 / span 4;
  grid-row: 2 / 3;
}

/* Inhalt BLOG ___________________________________________*/

/*#section_blog {
  background-color: var(--corporate_color);
}*/

#grid1b {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5%;
}
.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 1;
  margin-bottom: 15rem;
}

.card>figure {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}



 
#section_blog .blog_liste--style {
  border: 1px solid var(--corporate_color);
  padding: 0.5rem;
  transition: transform 0.5s ease-in-out;
}

#section_blog .blog_liste--style:hover {
  transform: scale(1.02);
}


#section_blog .blog_liste--style figure {
  display: none;
}

#section_blog .blog_liste--style p {
  color: black;
  font-size: 1rem;
}

#section_blog .cards a {
  text-decoration: none;
}

/* Inhalt Footer ___________________________________________*/


.footer {
  grid-row: 4 / 5;
  grid-column: 1 / span 3;
  background-color: black;
}
/* Media Screens ___________________________________________*/



@media screen and (max-width: 875px) {

  /* Zusätzliche Regeln für kleinere Monitore  */

  nav ul {
    padding: 0;
    margin-right: -1em;
  }
  .headerbild img {
    object-fit: fill;
  } 
  #head_line {
    top: 1rem;
    left: 1rem;
  }
  .grid-0 {
    grid-template-columns: repeat(12, minmax(50px, 1fr));
  }
  #grid1 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .grid-inhalt {
    grid-column-start: 1;
    grid-column-end: 10;
  }

  h3.grid-inhalt {
    grid-column-start: 1;
    grid-column-end: 10;
  }

 /* #inhalt {
    margin-bottom: 25%;
  }*/

  .card {
    margin-bottom: 15rem;
  }

  #grid1 {
    grid-gap: 3%;
  }

  .section_container--home {
    grid-column: 3 / span 8;
    display: flex;
    flex-flow: column-reverse;
  }

  p>.selbstdarstellung_bild {
    grid-column: 3 / span 8;
    width: 100%;
    height: auto;
    transform: translateX(0);
  }

  .spalte {
    grid-column: 3 / span 8;
    column-count: 1;
    column-gap: 0%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: repeat(3, 15vh);
    grid-gap: 1.5%;
  }
}


@media screen and (max-width: 840px) {

  /* Zusätzliche Regeln für kleinere Monitore  */

  body {
    grid-template-rows: 1fr auto;
    grid-template-columns: minmax(1rem, min-content) minmax(calc(100vw - 2rem), min-content) minmax(1rem, min-content);
  }

  /* MENÜ  */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
  float: right;
}  
.hamburger-menu .bar {
  height: 5px;
  background: black;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
} 
#hamburger-menu:checked + .hamburger-menu .top {
  transform: rotate(45deg);
} 
#hamburger-menu:checked + .hamburger-menu .middle {
  opacity: 0;
}
#hamburger-menu:checked + .hamburger-menu .bottom {
transform: rotate(-45deg);
}

#hamburger-menu:checked + .hamburger-menu + #nav_eben1 {
  padding-top: 30px;
  background-color: var(--corporate_color);
  transform: translateY(-5%);
  }

#nav_eben1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  transform: translateY(-220%);
  width: 100%;
  transition: all 0.3s  ease-in-out;
  }

  nav ul {
    margin-top: 0px;
    margin-right: 0px
}

li a {
    font-size: 2rem;
    color:  white;
}

 /* END MENÜ  */
}

 @media screen and (max-width: 750px) {

  /* Zusätzliche Regeln für kleinere Monitore  */
  #header_bereich {
    height:  calc(60vh - 8rem);

}
  #header_bereich img {
    object-position: bottom;
    height: 100%;
  }

 #head_line {
    width: calc(50vw - 2rem);
    top: 2rem;
    left: 2rem;
    padding: 2%;
  }

  .grid-0 {
    grid-template-columns: repeat(12, minmax(10px, 1fr));
  }

  #grid1 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
 /* #inhalt {
    margin-top: 55vh;
  }*/

  .grid-inhalt {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  h3.grid-inhalt {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  .grid-2 {
    grid-template-columns: repeat(12, minmax(10px, 1fr));
  }
  .card {
    margin-bottom: 15rem;
  }
  p.card_text--groesse {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .team_bild {
    grid-column: 2 / span 10;
  }

  .team_headline {
    grid-column: 2 / span 10;
  }

  #section_home_selbstdarstellung {
    margin-bottom: 10%;
    /*margin-top: 45%;*/
  }

  .section_container--home {
    grid-column: 2 / span 10;
  }

  p>.selbstdarstellung_bild {
    grid-column: 2 / span 10;
  }

  .spalte {
    grid-column: 2 / span 10;
  }

  .grid-3 {
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-template-rows: repeat(4, 25vh);
  }

  .grid-3 .referenzen-card--figure:first-child {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(3) {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(4) {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(5) {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(6) {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(7) {
    grid-column: span 6;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:nth-child(8) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .grid-3 .referenzen-card--figure:last-child {
    grid-column: span 3;
    grid-row: span 1;
  }
}

@media screen and (max-width: 550px) {

  h3 {
    font-size: 1.3rem;
    line-height: 1.5rem
  }

  h2::before {
    height: 5.8px;
    width: calc(80px + (100vw - 95vw));
  }

  h2::after {
    height: 6px;
}

.grid-0 {
    grid-template-columns: repeat(10, minmax(10px, 1fr));
}

#inhalt {
 /* margin-top: 68vh;*/
  padding-top: 2rem;
}
  .grid-inhalt {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  h3.grid-inhalt {
    grid-column-start: 1;
    grid-column-end: 13;
    margin-bottom: 2rem;
  }

  .card {
    margin-bottom: 10rem;
  }

  p.card_text--groesse {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  #section_home_selbstdarstellung {
    margin-bottom: 10%;
  /*  margin-top: 70%;*/
  }

  .section_container--home {
    grid-column: 1 / span 12;
  }

  p>.selbstdarstellung_bild {
    grid-column: 1 / span 12;
  }

  .card {
    margin-bottom: 12rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
  }

  .team_bild {
    grid-column: 1 / span 128;
    width: 100%;
    height: auto;
  }

  .team_headline {
    grid-column: 1 / span 12;
  }

  .spalte {
    grid-column: 1 / span 12;
  }

  #section_referenzen {
    margin-bottom: 45%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(6, minmax(10px, 1fr));
    grid-template-rows: repeat(6, 20vh);
  }

  .grid-3 .referenzen_titel {
    font-size: 1.5rem;
  }

  .grid-3 .referenzen-card--figure:first-child {
    grid-column: span 6;
    grid-row: span 2;
  }

  .grid-3 .referenzen-card--figure:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
  }

  .grid-3 .referenzen-card--figure:nth-child(3) {
    grid-column: span 3;
  }

  .grid-3 .referenzen-card--figure:nth-child(4) {
    grid-column: span 3;
  }

  .grid-3 .referenzen-card--figure:nth-child(5) {
    grid-column: span 3;
  }

  .grid-3 .referenzen-card--figure:nth-child(6) {
    grid-column: span 3;
  }

  .grid-3 .referenzen-card--figure:nth-child(7) {
    grid-column: span 3;
  }

  .grid-3 .referenzen-card--figure:nth-child(8) {
    grid-column: span 3;
  }

  .grid-3 .referenzen-card--figure:last-child {
    grid-column: span 3;
  }

  #grid1b {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5%;
  }
}
@media (orientation: portrait) {

  #header_bereich {
    height:  calc(60vh - 8rem);
  }

  .grid-3 {
    grid-template-rows: repeat(3, 15vh);
  } 
  #head_line {
    width: calc(50vw - 1rem);
    height: auto;
    top: 0.7rem;
    left: 0.7rem;
    padding: 1%;

  }

}
@media (orientation: portrait)   and (min-width: 840px) {

  .main {
    margin-top: -40rem;
  }
  }